.list__grid-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-areas: 'aside content';
}

.list__aside {
  grid-area: aside;
}

.list__content {
  grid-area: content;
}

/* sidebar */
.list__aside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__rating-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
}

.list__sort-container {
  padding-left: 1rem;
  margin-top: 1.4rem;
}

.list__aside-select {
  padding: 8px 1rem;
  cursor: pointer;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
}

.clear-all {
  cursor: pointer;
}

.clear-all:hover {
  text-decoration: underline;
}
