/* loader */
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #333; /* Blue */
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  animation: spin 2s linear infinite;
}

.loader-center {
  margin: 25rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
