.main-head.ecom-navbar {
  background: var(--primary-color);
  position: sticky;
  top: 0px;
}

.sign-in-button {
  background: var(--secondary-color);
}

.badge.ecom-badge {
  background: var(--grey-color);
}

.hamburger-icon {
  display: none;
}

.badge.ecom-badge {
  width: 2rem;
  height: 2rem;
  top: -6px;
  right: -2px;
}

.nav-clearIcon {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  cursor: pointer;
}
