@import url('https://cerebrumui.netlify.app/style.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import './Styles/navbar.css';
@import './Styles/homepage.css';
@import './Styles/listing.css';
@import './Styles/productItem.css';
@import './Styles/cart.css';

@media screen and (max-width: 600px) {
  .badge-caption {
    display: none;
  }

  .list__grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto;
    grid-template-areas:
      'header'
      'content';
  }

  .list__aside {
    display: none;
  }

  .nav-searchBar-container.ecom-searchbar {
    display: none;
  }

  .cart__grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'card'
      'summary';
  }

  .cart__card-container {
    width: 32rem;
    flex-direction: column;
  }

  .cart__order-summary {
    width: 27rem;
    max-width: 95%;
    margin: 0 5rem;
  }

  .CartItem-controls {
    position: absolute;
    bottom: 13.8rem;
    right: 9rem;
  }

  .cart__order-summary {
    position: static;
  }
}
