@import url('https://cerebrumui.netlify.app/style.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');
@import './Styles/navbar.css';
@import './Styles/homepage.css';
@import './Styles/listing.css';
@import './Styles/productItem.css';
@import './Styles/cart.css';
@import './Styles/loader.css';
@import './Styles/wishlist.css';
@import './Styles/login.css';
@import 'Styles/ProductPage.css';
@import 'Styles/checkout.css';

@media screen and (max-width: 600px) {
  .badge-caption {
    display: none;
  }

  .hamburger-icon {
    display: inline;
  }

  .list__aside {
    z-index: 4;
    background: var(--complimentary-bg-color);
    color: var(--secondary-color);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: width 350ms ease-in-out;
  }

  .aside-open {
    width: 73vw;
    top: 8.8rem;
  }

  .nav-searchBar-container.ecom-searchbar {
    display: none;
  }

  .cart__grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'card'
      'summary';
  }

  .cart__card-container {
    width: 32rem;
    flex-direction: column;
  }

  .cart__order-summary {
    width: 27rem;
    max-width: 95%;
    margin: 0 5rem;
  }

  .cart__order-summary {
    position: static;
  }

  .product-card {
    width: 36rem;
    height: 69rem;
    flex-direction: column;
  }

  .product-card .product-card__details {
    position: relative;
    left: 0;
    min-width: 36rem;
    height: auto;
  }
  .product-card__name {
    font-size: 2rem;
  }
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-reset {
  margin: 0;
}
